{% extends 'base-back.html.twig' %}

{% block title %}Recompense{% endblock %}

{% block body %}
    <h1>Recompense</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recompense.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ recompense.description }}</td>
            </tr>
            <tr>
                <th>Cout_en_points</th>
                <td>{{ recompense.coutEnPoints }}</td>
            </tr>
            <tr>
                <th>Disponibilite</th>
                <td>{{ recompense.disponibilite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_recompense_index') }}">back to list</a>

    <a href="{{ path('app_recompense_edit', {'id': recompense.id}) }}">edit</a>

    {{ include('recompense/_delete_form.html.twig') }}
{% endblock %}
